---
layout: default
---

<div class="home">

  <li class="posts-listing">
    {% for post in paginator.posts %}
      <div class="cell">
        <span class="post-meta">{{ post.date | date_to_string }} &nbsp; {{post.author}}</span>
        <h4>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.artist }} - {{ post.title }}
          </a>
        </h4>
        {{ post.content }}

        <div class="main-page-comments">
            <!-- Comments -->
          {% if site.data.comments[post.slug] %}
            {% assign comments = site.data.comments[post.slug] | sort %}
            <!-- {% assign limit = 5 %} -->
            {% for comment in comments %}
              <div class="main-comment__author"> {{ comment[1].name | strip_html }}
              </div>
              <div class="main-comment__body">
              {{ comment[1].message | strip_html | markdownify }}
              </div>
            {% endfor %}
          {% endif %}
          <!-- Comments -->
        </div>
        </div>
    {% endfor %}
    </li>

  <!-- Pagination links -->
  <div class="pagination">

    {% if paginator.previous_page %}
    <a href="/sounds{{ paginator.previous_page_path }}" class="page-turn-link">
      Previous
    </a>
    {% endif %}

    <span class="page_number ">
      {{ paginator.page }} of {{ paginator.total_pages }}
    </span>

    {% if paginator.next_page %}
    <a href="/sounds{{ paginator.next_page_path }}" class="page-turn-link">Next</a>
    {% endif %}
  </div>

</div>
