---
---

@import "minima";

.site-title { 
  font-size: 26px;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left; 
  color: var(--main-text-color);

  &:visited {
    color: var(--main-text-color);
  }

  &:hover {
	color: var(--main-text-color);
	text-decoration: underline;
	}
}

body {
	background-color: var(--main-background-color);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: var(--main-text-color);
}

.cell {
	color: var(--main-text-color);
	margin-bottom: 75px;
}

.post-link {
	color: var(--main-text-color);
	
	&:visited {
		color: var(--main-text-color);
	}

	&:hover {
		color: var(--main-text-color);
		text-decoration: underline;
	}
}

.post-content {
	color: var(--main-text-color);
}

.trigger {
	color: var(--main-text-color);
}

.page-link {
	color: var(--main-text-color);
	
	&:visited {
		color: var(--main-text-color);
	}

	&:hover {
		color: var(--main-text-color);
		text-decoration: underline;
	}
}

.button {
	color: var(--main-text-color);
}

.comment__body {
	color: var(--main-text-color);
}

.comment__author {
  color: var(--secondary-text-color);
  font-size: 17px;
}

.comment__date {
  font-size: 15px;
  color: var(--secondary-text-color);
}

.comment_form_entry {
	color: var(--main-text-color);
}

.comment_form_label {
	color: var(--main-text-color);
}

html, html[data-theme="light"] { 
	--light-text-color: rgb(72, 72, 74);
	--secondary-text-color: grey; 
  	--link-color: rgb(0, 112, 201);
  	--main-background-color: rgb(255, 255, 255);
	--main-text-color: rgb(51, 51, 51);
}

html[data-theme="dark"] {
		--light-text-color: rgb(199, 199, 204);
		--secondary-text-color: rgb(106,115,125); 
  		--link-color: rgb(255,122,132);
		--main-background-color: rgb(31,31,31);
		--main-text-color: rgb(229, 229, 234);
		--background-color:  rgb(28, 28, 30);
	}

@media (prefers-color-scheme: dark) {
	html, html[data-theme="dark"] {
		--light-text-color: rgb(199, 199, 204);
		--secondary-text-color: rgb(106,115,125); 
  		--link-color: rgb(0, 112, 201);
  		--main-background-color: rgb(31,31,31);
		--main-text-color: rgb(229, 229, 234);
		--background-color:  rgb(28, 28, 30);
	}
	
	html[data-theme="light"] { 
		--light-text-color: rgb(72, 72, 74);
		--secondary-text-color: grey; 
		--link-color: rgb(0, 112, 201);
		--main-background-color: rgb(255, 255, 255);
		--main-text-color: rgb(51, 51, 51);
	}
}