---
---

@import "minima";

.site-title {
	font-size: 26px;
	font-weight: 500;
	line-height: 54px;
	letter-spacing: -1px;
	margin-bottom: 0;
	float: left;
	color: var(--main-text-color);

	&:visited {
		color: var(--main-text-color);
	}

	&:hover {
		color: var(--main-text-color);
		text-decoration: underline;
	}
}

/**
 * Links
 */
a {
	color: var(--link-color);
	text-decoration: none;

	&:visited {
		color: var(--link-color--visited);
	}

	&:hover {
		color: var(--link-color);
		text-decoration: underline;
	}
}

body {
	background-color: var(--main-background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 300;
	color: var(--main-text-color);
	margin-left: 0px;
}

.cell {
	color: var(--main-text-color);
	margin-bottom: 100px;
	margin-left: 0px;
}

.post-link {
	color: var(--main-text-color);

	&:visited {
		color: var(--main-text-color);
	}

	&:hover {
		color: var(--main-text-color);
		text-decoration: underline;
	}
}

.post-content {
	color: var(--main-text-color);
}

.post-content-message {
	margin-top: 10px;
}

.trigger {
	color: var(--main-text-color);
}

.page-link {
	color: var(--main-text-color);

	&:visited {
		color: var(--main-text-color);
	}

	&:hover {
		color: var(--main-text-color);
		text-decoration: underline;
	}
}

.button {
	color: var(--main-text-color);
}

.comment__body {
	color: var(--main-text-color);
}

.comment__author {
	color: var(--secondary-text-color);
	font-size: 17px;
	margin-bottom: 10px;
}

.comment__date {
	font-size: 15px;
	color: var(--secondary-text-color);
}

.comment_form_entry {
	color: var(--main-text-color);
	background-color: var(--main-background-color);
}

.comment_form_text_field {
	color: var(--main-text-color);
	background-color: var(--secondary-background-color);
	resize: none;
	box-sizing: border-box;
	border: 1px solid var(--border-color);;
	border-radius: 4px;
	font-size: $base-font-size;
	outline: none;
}

.comment_form_label {
	color: var(--main-text-color);
}

.main-page-comments {
	margin-top: 30px;
	margin-left: 20px;
}

.main-comment__body {
	color: var(--main-text-color);
}

.main-comment__author {
	color: var(--secondary-text-color);
	font-size: 17px;
}

.main-comment__date {
	font-size: 15px;
	color: var(--secondary-text-color);
}

.page-turn-link {
	color: var(--link-color);

	&:visited {
		color: var(--link-color);
	}

	&:hover {
		color: var(--link-color);
		text-decoration: underline;
	}
}

.page_number {
	color: var(--main-text-color);
}

.posts-listing {
	list-style-type: none;
}

.site-nav {
	color: var(--main-background-color);
}

html,
html[data-theme="light"] {
	--light-text-color: rgb(72, 72, 74);
	--secondary-text-color: grey;
	--link-color: rgb(0, 112, 201);
	--link-color--visited: rgb(15, 69, 113);
	--main-background-color: rgb(255, 255, 255);
	--secondary-background-color: rgb(255, 255, 255);
	--main-text-color: rgb(51, 51, 51);
	--border-color: rgb(200, 200, 200);
}

html[data-theme="dark"] {
	--light-text-color: rgb(199, 199, 204);
	--secondary-text-color: rgb(106, 115, 125);
	--link-color: rgb(255, 122, 132);
	--link-color--visited: rgb(196, 69, 80);
	--main-background-color: rgb(1, 1, 2);
	--secondary-background-color: rgb(80, 80, 80);
	--main-text-color: rgb(229, 229, 234);
	--border-color: rgb(80, 80, 80);
}

@media (prefers-color-scheme: dark) {
	html,
	html[data-theme="dark"] {
		--light-text-color: rgb(199, 199, 204);
		--secondary-text-color: rgb(106, 115, 125);
		--link-color: rgb(255, 122, 132);
		--link-color--visited: rgb(196, 69, 80);
		--main-background-color: rgb(28, 28, 30);
		--secondary-background-color: rgb(80, 80, 80);
		--main-text-color: rgb(229, 229, 234);
		--border-color: rgb(80, 80, 80);
	}

	html[data-theme="light"] {
		--light-text-color: rgb(72, 72, 74);
		--secondary-text-color: grey;
		--link-color: rgb(0, 112, 201);
		--link-color--visited: rgb(15, 69, 113);
		--main-background-color: rgb(255, 255, 255);
		--secondary-background-color: rgb(255, 255, 255);
		--main-text-color: rgb(51, 51, 51);
		--border-color: rgb(200, 200, 200);
	}
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
