---
layout: default
---

<div class="home">

	<ul class="posts-list">
    {% for post in paginator.posts %}
      <div class="table"> 
          <div class="row">
              <div class="cell">
                <h4>
                  <a class="post-link" href="{{ post.url | relative_url }}">
                      {{post.date | date_to_string }} &nbsp; {{post.author}}
                  </a>
                </h4>  
                {{post.content}}
              </div>
          </div>
      </div>

	  {% endfor %}
  </ul>
  {% include prev_next.html prev_url=paginator.previous_page_path prev_text='Previous page' next_url=paginator.next_page_path next_text='Next page' %}
</div>