---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.modified_date -%}
        ~ 
        <time class="dt-modified" datetime="{{ page.modified_date | date_to_xmlschema }}" itemprop="dateModified">
          {{ page.modified_date | date: date_format }}
        </time>
      {%- endif -%}
      {%- if page.author -%}
        • {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif -%}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}


<!-- Comments -->
{% if site.data.comments[page.slug] %}
    <h2>Comments</h2>
  {% assign comments = site.data.comments[page.slug] | sort %}
    {% for comment in comments %}
      <div class="comment__author"> {{ comment[1].name | strip_html }}  &nbsp;
         <span class="comment__date"> {{ comment[1].date | date: "%B %d, %Y" }} </span>
      </div>

      <div class="comment__body">
        {{ comment[1].message | strip_html | markdownify }}
      </div>
    {% endfor %}
{% endif %}

<!-- Comments -->


<!-- Comments Form -->
  <form method="POST" action="{{ site.staticman_url }}">
    <!-- <input name="options[redirect]" type="hidden" value="https://example.com"> -->
    <input class="comment_form_entry" name="options[slug]" type="hidden" value="{{ page.slug }}">
      <label class="comment_form_label">Name</label>
      <input name="fields[name]" type="text"> <br>
      <!-- <label>E-mail (optional)</label>
      <input name="fields[email]" type="email"> -->
      <!-- <label>Website (optional)</label>
      <input name="fields[url]" type="url"> -->
      <!-- <label>Message</label> <br> -->
      <textarea style="width:70%" name="fields[message]" rows="5"></textarea> <br>
      <!-- <small>Comments will appear after moderation.</small> -->
      <button type="submit">Submit comment</button>
  </form>
  
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>


